body{
    font-family: 'Roboto';
    overflow-x: hidden
}

@media (max-width: 800px) {
    img{
        width: 50%;
    }
    .container-left {
        width: 100% !important;
        text-align: center !important;
    }
    .container-linebreak{
        width: 100% !important;
    }
}

.intro{
    background: #1b2a2f;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-flow: row wrap;
    min-height: 560px;
    padding-left: 130px;
    padding-top: 100px;
    .intro-title{
        font-size: 10vw;
        color: white;
        font-family: 'Roboto';
        font-weight: 700;
        height: 50%;
    }
    .intro-image{
        background: white;
    }
    .seperator{
        height: 18px;
        width: 13vw;
        display: block;
        background: white;
        position: absolute;
        margin-right: 62vw;
        top: 31vh;
    }
    p{
        color: white;
        height: 50px;
        width: 380px;
        display: block;
        position: absolute;
        top:34vh;
    }
}

.section{
    width: 100vw;
    display: flex;
    overflow: hidden;
    min-height: 278px;
    padding: 50px 0;
    color: white;
    &.black{
        background: #111517;
    }
    &.blue{
        background-image: linear-gradient(45deg, #56cad5, #247ad4);
        color: white;
    }
    &.orange{
        color: white;
        background: #ff943b;
    }
    &.darkgrey{
        background: #1b2a2f;
    }
    .container{
        padding-top: 6.25rem;
        max-width: 100%;
        width: 73.75rem;
        align-items: center;
        margin: -6.25rem auto 0;
        .container-left{
            width: 50%;
            color: inherit;
            text-align: left;
            z-index: 1;
            padding: 0;
            margin-right: auto;
            h2{
                width: 100%;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 1;
                font-size: 50px;
                margin: 50px 0px 0px;
            }
            .container-linebreak{
                margin: 1.875rem 0;
                display: block;
                background-color: #fff;
                height: 4px;
                width: 40px;
            }
        }
        .container-right{
            position: absolute;
            width: 350px;
            z-index: 3;
            max-width: 350px;
            top: 100px;
            left: auto;
            bottom: 0;
            right: 9.5%;
            margin: auto;
        }
    }
}

.languages{
    background: #77929f;
    margin: 0 auto;
    display: block;
    padding: 60px 0;
    width: 100vw;
    img{
        margin: 0 auto;
        align-content: center;
        display: block;
    }
}


