@import "../../vars.scss";
.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 5%;
    align-items: center;
    .headerSocials{
        display: flex;
        align-items: center;
        
        .headerSocialsChild{
            display: flex;
            justify-content: space-between;
            border-left: black 1px solid;
            padding-left: 20px;
            margin: 0 20px;
        }
    }
}
// font styling for headers
.headerName{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: $primary-color !important;
    
}

.linkitem2{
    text-decoration: none;
    color: $primary-color;
}

.headerSocialsChild a{
    font-size: 30px;
    margin: 0 10px;
}

.headerNav a.active{
    color: $primary-color;
}
.headerNav .navItem{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 0 10px;
    color: black;
    
}