<!DOCTYPE html>

<html>

<head>
    <title>HJP Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/bee9def511.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" </head>

<body class="ready">
    <div class='border-left border-line'></div>
    <div class='border-top border-line'></div>
    <div class='border-right border-line'></div>
    <div class='border-bottom border-line'></div>

    <div class='heightthing'>
        <div class='home'>
            <section class='main'>
                <div class='main-wrapper'>
                    <div class='main-wrapper-inner'>
                        <div>
                            <section class='grid-container'>
                                <div class='text-part'>
                                    <div>
                                        <div style='text-align: center'>
                                            <img src='/images/placeholder.png'>
                                        </div>
                                    </div>
                                    <div>
                                        <br>
                                    </div>
                                    <p>
                                        Hello, I am <strong>Harry</strong>
                                    </p>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>


</body>









</html>