<!DOCTYPE html>

<html>

<head>
    <title>HJP Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/bee9def511.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" </head>

<body class="ready">
    <div class='border-left border-line'></div>
    <div class='border-top border-line'></div>
    <div class='border-right border-line'></div>
    <div class='border-bottom border-line'></div>

    <div class='heightthing'>
        <div class='home'>

        </div>
    </div>


</body>









</html>