<!DOCTYPE html>

<html>

<head>
    
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="CSS/style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
    <div class="content">
        <section class="intro">
            <h2 class="intro-title">MY </BR> PORTFOLIO </h2>
            {{!-- you want to add github, linkedin, email contacts, inside the portfolio section probably would look cool with a line seperator
            also makes sure each one is evenly spaced :) --}}
        </section>
    
        {{>section colour="blue" title="About me" text="My name is Harry, I live near Ipswich and I love coffee and video games. In my spare time I like climbing, working out and video games. I also work on various random projects in my spare time to learn and to have fun I hopefully will populate this portfolio with my best ones as time goes on. The projects I work on are generally in languages or subjects I find interesting to I felt the need to develop them."}}

        {{>section colour="orange" title="Work Experience" text="I have been doing a Digital Solutions apprenticeship (Hns) since mid 2019 and from there I have developed my skills further through SimpleClick thanks to their excellent team. I have been focusing on NodeJs & JavaScript however due to work and University I have been given the opportunity to learn and expereince other languages and new ideas to help further my learning & experience."}}

        <section class="languages">
            <img src="images/compilation.png">
        </section>

        {{>section colour="darkgrey" title="My Projects" text="Below I am going to showcase my recent projects that I am working on or have finished. "}}
        

        {{!-- {{>section colour="" title="" text=""}} --}}

        

        


   

    </div>
</body>









</html>