<div class='aboutPage'>
    {{!-- try and add 01, 02, 03, 04 etc above each subject header.
    cool thing for it would be this styling
    https://stackoverflow.com/questions/4919076/outline-effect-to-text --}}
    <h1 class='subjectTitle'>About</h1>
    <p class='subjectSubtext'>
        I'm a student at Anglia Ruskin University and a Junior Web Developer. In my spare time
        I like to go bouldering, play games and work on side projects. Some technologies that I like using are
        Node.js, React.js, React Native and hopefully more soon! I have been writing code for almost two years.</p>

</div>