<div class="bio-block">

    <div class="heading">
        <p>Bio:</p>
    </div>

    <div class="bio-grouping">

        <div class="profile-picture">
            <img src="https://steamuserimages-a.akamaihd.net/ugc/885384897182110030/F095539864AC9E94AE5236E04C8CA7C2725BCEFF/" alt="">
        </div>
        {{!-- border line in-between --}}
        <div class="bio">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis congue efficitur. Vestibulum a neque at ante congue laoreet et quis neque. Nullam viverra at lorem eu bibendum. Cras tincidunt laoreet odio, feugiat accumsan orci mattis eget. Nam eu congue turpis, eget sollicitudin massa. Nulla facilisi. Donec aliquam dolor vel quam maximus viverra. Aliquam consequat mattis nisi, at ornare dolor ultricies ac. Vivamus ornare a lorem in porta. Aliquam id rutrum erat. Proin convallis molestie nunc, non volutpat dolor sollicitudin quis.</p>
        </div>

    </div>
    
</div>