<div class='headerContainer'>
    <div class='headerSocials'>
        <a class='headerName'>HJP</a>
        <div class='headerSocialsChild'>
            <a href='https://github.com/hjp132'><i class="linkitem2 fab fa-github"></i></a>
            <a href='https://www.linkedin.com/in/harry-palmer-579b91174/'><i class="linkitem2 fab fa-linkedin"></i></a>
        </div>
    </div>
    <div class='space'></div>
    <div class='headerNav '>
        <a href=' ' class='navItem active'>HOME</a>
        <a href=' ' class='navItem'>ABOUT</a>
        <a href=' ' class='navItem'>WORK</a>
        <a href=' ' class='navItem'>ARTICLES</a>
        <a href=' ' class='navItem'>CONTACT</a>
    </div>
</div>