<header>
    <a class="nav-logo btn">Harry Palmer</a>
    <div class="nav-section">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/signup">Bio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Work</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Projects</a>
            </li>
        </ul>
    </div>
</header>