<header>
    
    <div class="nav-section">
        <ul class="nav">
            <li class="nav-item">
                <a>Harry Palmer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Bio">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Work</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Projects</a>
            </li>
        </ul>
    </div>
</header>