<div class='introPage'>
    <div class='introText'>
        <h1 class='subjectTitle'>Harry Palmer</h1>
        <p class='subjectSubtext'>I am a Junior Web Developer based in Suffolk who likes designing, building and
            playing with websites, software and anything extra I can learn.</p>
        <a class='subjectLink'><i class="far fa-arrow-alt-circle-down"></i> View My Work</a>
    </div>
    <div class='introImage'>
        <img src='../images/placeholderman.jpg'>
    </div>
</div>