<div class='left-side'>
    <ul>
        <li><a href='mailto:harrypalmer889@gmail.com'><i class="fas fa-envelope-square"></i></a></li>
        <li><a href='https://www.linkedin.com/in/harry-palmer-579b91174/'><i class="fab fa-linkedin"></i></a></li>
        <li><a href='https://github.com/hjp132'><i class="fab fa-github-square"></i></a></li>
    </ul>
</div>