<div class='left-side'>
    <ul>
        <li><i class="fas fa-envelope-square" href=''></i></li>
        <li><i class="fab fa-linkedin"></i></li>
        <li><i class="fab fa-github-square"></i></li>
    </ul>
</div>