<div class='nav-container'>
    <div class='nav-logo'>
        <a>HJP</a>
    </div>
    <div class='nav-listContainer'>
        <ul>
            <li>
                <a href=' /projects'>PROJECTS</a>
            </li>
            <li><a href=' /profile'>PROFILE</a></li>
            <li><a href=' /contact'>CONTACT</a></li>
        </ul>
    </div>
</div>