<a class='tc-link' href='/projects/{{link}}'>
    <div class='tc-Container {{background}}'>
        <div class='tc-TextContainer'>
            <span>
                <h2 class='tc-Title'>{{title}}</h2>
                <h3 class='tc-Subject'>{{subject}}</h3>
            </span>
        </div>
    </div>
</a>