<li>
    <a class='bit-link' href='/bits/{{link}}'>
        <article class='item-item'>
            <header class='item-itemText'>
                <div class='item-itemgrid item-itemgridshort'>
                    <h2 class='item-itemSubtitle'>
                        {{type}}
                    </h2>
                    <h1 class='item-itemTitle'>
                        {{name}}
                    </h1>
                </div>
            </header>
        </article>
    </a>
</li>