<div class='section'>
    <h1 class='subjectTitle'>Work</h1>
    <p class='subjectSubtext'>Here is some of my most recent work.</p>
    <div class='work'>
        <div class='work-content'>
            <ul class='work-wrapper'>
                <li class='work-card'>{{>workItem imageHere='../images/workholder.png' title='Clicker App' desc='Clicker
                    App is my first React Native app, Its a basic cookie clicker type game that I made to put into
                    practice learning React Native'}}
                </li>
                <li class='work-card'>{{>workItem imageHere='../images/workholder.png' title='Workout' desc='Workout
                    (not yet finished) is a workout app which would let you drag and drop, customise and create workout
                    routines..'}}</li>
                <li class='work-card'>{{>workItem imageHere='../images/workholder.png' title='My Portfolio' desc='My
                    portfolio, is small project that I have started a couple days ago. It will probably keep changing
                    forever.'}}
                </li>
                <li class='work-card'>{{>workItem imageHere='../images/workholder.png' title='Discord Bots'
                    desc='Discord bots'}}
                </li>
            </ul>
        </div>
    </div>
</div>