@-ms-viewport {
  width: device-width;
}
body {
  background: white;
}

a {
  color: #fefefe;
  text-decoration: none;
  -webkit-transition: color 170ms ease, background 170ms ease;
  transition: color 170ms ease, background 170ms ease;
}

h1, h2 {
  font-weight: 700;
}

@font-face {
  font-family: "Geomanist";
  src: url("../fonts/geomanist/Geomanist-Bold.ttf") format("truetype");
  font-weight: 700;
}
head {
  display: none;
}

html, body {
  margin: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #181818;
  border-left: 9px solid #fefefe;
  border-right: 9px solid #fefefe;
  border-top: 20px solid #fefefe;
  border-bottom: 20px solid #fefefe;
}

::-webkit-scrollbar-track {
  background-color: #fefefe;
}

body {
  font-family: "Geomanist", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.1;
  background: #181818;
  color: #fefefe;
  font-weight: 700;
  overflow-y: scroll !important;
  overflow-x: hidden;
}

strong {
  font-weight: 700;
  color: #b3a577;
}

.ready {
  -webkit-transition: color 711ms ease, background 711ms ease;
  transition: color 711ms ease, background 711ms ease;
}

.border-line {
  content: " ";
  display: block;
  position: fixed;
  background: #fefefe;
  z-index: 1000;
}

.border-left {
  top: 0;
  height: 100%;
  width: 20px;
  left: 0;
}

.border-top {
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

.border-right {
  right: 0;
  top: 0;
  height: 100%;
  width: 20px;
  display: none;
}

.border-bottom {
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 20px;
}

.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.home .main {
  position: relative;
  z-index: 2;
}
.home .main .main-wrapper {
  position: relative;
  padding-top: 24vh;
  padding-bottom: 11vw;
  font-size: calc(10px * 15 * ((100vw - 420px) / 1180));
}
.home .main .main-wrapper .main-wrapper-inner {
  font-size: 3.8em;
  font-weight: 700;
  line-height: 1.1;
}

.grid-container {
  max-width: 1400px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 12vw;
  padding-right: 12vw;
}
.grid-container .text-part {
  position: relative;
}
.grid-container .text-part :first-child {
  margin-top: 0;
}
.grid-container .text-part :last-child {
  margin-bottom: 0;
}
.grid-container .text-part > * {
  line-height: 1.1;
}
.grid-container .text-part * + * {
  margin-top: 1.1em;
}

.grid-container2 {
  max-width: 1400px;
  margin-left: 0;
  margin-right: 0;
  padding-right: 12vw;
}
.grid-container2 .text-part {
  position: relative;
}
.grid-container2 .text-part :first-child {
  margin-top: 0;
}
.grid-container2 .text-part :last-child {
  margin-bottom: 0;
}
.grid-container2 .text-part > * {
  line-height: 1.1;
}
.grid-container2 .text-part * + * {
  margin-top: 1.1em;
}

.links {
  position: relative;
  font-size: 0.5em;
  display: block;
}
.links ul {
  margin-left: -1.5em;
  margin-top: 2em;
  margin-bottom: -0.5em;
}
.links li {
  display: inline-block;
  float: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-underline-position: under;
}
.links li a {
  display: block;
  padding: 0.4em;
  position: relative;
}

.nav-active {
  color: #b3a577 !important;
}

.nav-icon {
  font-size: 1.8em;
}

.grid-contaer3 {
  max-width: 1400px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 12vw;
}

.footer {
  position: relative;
  display: block;
}

article, aside, footer, header, nav, section {
  display: block;
}

.header {
  position: fixed;
  top: 6vw;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 20;
}
.header .header-inner {
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 6vw;
  padding-right: 6vw;
}
.header .header-inner .logo {
  position: relative;
  margin: auto;
  float: left;
  opacity: 0.85;
  transition: opacity 170ms ease;
  margin-top: -20px;
  margin-left: -20px;
  pointer-events: auto;
}
.header .header-inner .logo a {
  display: block;
}
.header .header-inner .nav {
  float: right;
  position: relative;
  margin-top: -13px;
  margin-left: 0;
}
.header .header-inner .nav a {
  position: relative;
  display: block;
  color: #fefefe;
  text-decoration: none;
  padding: 20px 15px;
  text-transform: uppercase;
  transform: color 170ms ease;
  font-size: 20px;
  line-height: 1em;
  font-weight: 700;
}
.header .header-inner .nav ul, .header .header-inner .nav li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}
.header .header-inner .nav li {
  float: left;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}
.header .header-inner .nav .nav-inner {
  position: relative;
  float: left;
  left: -20px;
  top: -27px;
}
.header .header-inner .nav .burger {
  width: 80px;
  height: 80px;
  float: right;
  position: relative;
  cursor: pointer;
  margin-right: -25px;
  margin-top: -12px;
  pointer-events: auto;
}

.style-list {
  position: relative;
  margin: 10vw;
  display: block;
}

.item-item {
  position: relative;
  display: block;
}
.item-item .item-itemText {
  position: relative;
  z-index: 2;
  color: #fefefe;
  transition: color 270ms ease;
  padding: 1em 0;
}
.item-item .item-itemText .item-itemgrid {
  max-width: 1400px;
  margin-left: 0;
  margin-right: 0;
  padding-right: 12vw;
}
.item-item .item-itemText .item-itemgridshort {
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  padding-right: 6vw;
}

.item-itemSubtitle {
  margin: 0;
  font-size: 0.375em;
  margin-bottom: 1em;
}

.item-itemTitle {
  margin: 0;
  font-size: 1.5em;
}

.grid-clear {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  position: relative;
}
.grid-clear li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  position: relative;
}

.bit-link {
  display: block;
  position: relative;
}

a:hover, .item-itemText:hover {
  color: #b3a577 !important;
}

/*# sourceMappingURL=style.css.map */
