@import "../../vars.scss";

a{
    color: #fefefe;
    text-decoration: none;
    -webkit-transition: color 170ms ease, background 170ms ease;
    transition: color 170ms ease, background 170ms ease;
}


h1,h2{
    font-weight: 700;
}